version: "3"
services:
  python_pathlib:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
      args:
        WORKDIR: /project
    volumes:
      - ..:/project
    image: python_pathlib-image
    container_name: python_pathlib-container
    tty: true
